@font-face {
  font-family: glacial;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: vogue;
  src: url(../fonts/Vogue.ttf);
}

/* @keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
} */

.slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
}

.slider .gradient {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 0) 28.95%,
    #0a0a0a 89.97%
  );
  height: 100%;
  width: 100%;
  z-index: 11111111;
}

.slider:nth-child(2) {
  background: url("../img/image1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.slider:nth-child(3) {
  background: url("../img/image2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slider:nth-child(4) {
  background: url("../img//image3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slider:nth-child(5) {
  background: url("../img/image4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h2 {
  background: #010101;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 0.458vw 5.55vw;
  font-size: 2.22vw;
  font-family: "glacial";
  font-weight: 400;
  z-index: 11111111111;
}

.hero-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8.8vw;
  z-index: 11111111;
  width: 100%;
  background: transparent;
}

.hero-content h2 {
  font-size: 5vw;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  text-align: center;
  position: initial;
  top: initial;
  background: none;
  padding: initial;
}

.hero-content h1 {
  background: linear-gradient(
    0deg,
    #c89103 26.06%,
    #f7d00e 43.62%,
    #ce9603 59.8%,
    #e3ac09 75.59%,
    #e1ac06 86.37%,
    #c28c06 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "vogue";
  font-size: 11.055vw;
  text-align: center;
  font-weight: 400;
  margin-bottom: -2.5vw;
}
.footer {
  position: absolute;
  padding: 1.07vw 5.55vw;
  left: 0;
  bottom: 0;
  width: 100%;

  /* background: #0a0a0a; */
  z-index: 111111111;
  display: flex;
}

.footer div:first-child {
  display: flex;
}

.footer div {
  width: 50%;
}

.footer div div:first-child {
  width: 48%;
}

.footer div div h3 {
  font-size: 2.22vw;
  color: #ffffff;
  opacity: 0.7;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 0.833vw;
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

.footer span {
  color: #fff;
  font-size: 0.972vw;
  font-weight: 400;
}

.address {
  padding-left: 1.11vw;
}

.social div {
  display: flex;
  align-items: center;
  width: 50% !important;
  margin-left: auto;
}

.social div:first-child {
  margin-bottom: 1.15vw;
}

.social img {
  width: 2.22vw;
  object-fit: contain;
  margin-right: 0.833vw;
}

.social p {
  font-size: 1.6vw;
  color: #fff;
  display: block;
}

@media only screen and (max-width: 767px) {
  body {
    background: #0a0a0a;
  }

  h2 {
    font-size: 32px;
    padding: 13px 16px;
  }

  .slider:nth-child(2) {
    background: url("../img/mob-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .slider:nth-child(3) {
    background: url("../img/mob-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .slider:nth-child(4) {
    background: url("../img/mob-3.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .slider:nth-child(5) {
    background: url("../img/mob-4.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .hero-content {
    bottom: initial;
    top: 40vh;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .hero-content h2 {
    font-size: 7.778vw;
  }

  .hero-content h1 {
    font-size: 20.278vw;
    margin-bottom: -4vw;
  }

  .footer {
    background: #0a0a0a;
    padding: 6.667vw 4.722vw;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .footer,
  .footer div:first-child {
    display: block;
  }

  .footer div,
  .footer div div:first-child,
  .social div {
    width: 100% !important;
  }

  .social div {
    display: flex !important;
  }

  .footer div div h3 {
    font-size: 6.667vw;
    margin-bottom: 3.333vw;
    border: none !important;
    padding-right: 0;
  }

  .footer span {
    font-size: 3.889vw;
    line-height: 4.444vw;
    margin-bottom: 9.444vw;
    padding-left: 0;
    display: block;
  }

  .social img {
    width: 7.778vw;
    margin-right: 3.333vw;
  }

  .social p {
    font-size: 4.556vw;
  }
}

@media only screen and (max-width: 375px) {
  div h1 {
    top: 44vh;
  }
}

@media only screen and (max-width: 360px) {
  div h1 {
    top: 44vh;
  }
}

@media only screen and (max-width: 300px) {
  div h1 {
    top: 55vh;
  }
}
